name: CI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: "3.9"
          architecture: "x64"
      - name: Install the library
        run: |
          pip install --upgrade pip
          pip install packaging pytest numpy
          pip install -e .
      - name: Run tests
        run: |
          echo "Running tests ..."
          make test
